 <ion-header class="ion-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/main/login1']"><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>SE CONNECTER</ion-title>
      <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']" [strong]="true" [disabled]="textAreaUserValue.invalid || textAreaPasswordValue.invalid"><ion-icon name="arrow-forward"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

 <ion-content class="ion-padding">
   <ion-item>
     <ion-input label="Nom d'utilisateur" labelPlacement="stacked" placeholder="Ecrivez le nom d'utilisateur" [(ngModel)]="textAreaUser" required #textAreaUserValue=ngModel></ion-input>
     <div *ngIf="textAreaUserValue.invalid && textAreaUserValue.touched" class="error-message">
       Ce champ est obligatoire.
     </div>
   </ion-item>
   <ion-item>
     <ion-input label="Mot de passe" type="password" labelPlacement="stacked" placeholder="Ecrivez le mot de passe" [(ngModel)]="textAreaPassword" required #textAreaPasswordValue=ngModel></ion-input>
     <div *ngIf="textAreaPasswordValue.invalid && textAreaPasswordValue.touched" class="error-message">
       Ce champ est obligatoire.
     </div>
   </ion-item>
 </ion-content>
